# APP LOGIN CONFIG
# Change these values before deploying or sharing!
APP_USERNAME=admin
APP_PASSWORD=rahasia
JWT_SECRET=super_secret_jwt_key_12345

# AIRTABLE CONFIG
# Put your Airtable API Key here so it's hidden from the UI
AIRTABLE_KEY=
AIRTABLE_BASE=
AIRTABLE_TABLE=
