# Secrets and Config
.env
ai-config.json
sys-config.json

# WA Baileys Session storage (Do not publish!)
auth/

# Node Modules
node_modules/
.npm/

# Logs
backend.log
*.log

# Dev scratch
scratch/

# Mac OS files
.DS_Store
